In [1]:
import pandas as pd

In [4]:
df = pd.read_json('C:/Users/lamersws1/Documents/Data/out0-10000.json')

In [3]:
df.head()

   contributors          ...          withheld_in_countries
0           NaN          ...                           None
1           NaN          ...                           None
2           NaN          ...                           None
3           NaN          ...                           None
4           NaN          ...                           None

[5 rows x 38 columns]